@import url("/fonts.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary-900: #417f56;
    --color-primary-800:#548B66;
    --color-primary-700:#679877;
    --color-primary-600:#7AA588;
    --color-primary-500:#8DB299;
    --color-primary-400:#A0BFAA;
    --color-primary-300:#B3CBBB;
    --color-primary-200:#C6D8CC;
    --color-primary-100:#D9E5DD;
    --color-primary-50:#ECF2EE;
    --color-gray:#EDEDED;
    --color-white: #ffff;
    --color-black: #353535;
  }
}

@layer components {
  .horizontal__container{
    @apply flex flex-nowrap overflow-x-scroll;
  }
  .textField__input {
    @apply w-full py-1 px-4 rounded-xl  border border-primary-900  transition-all duration-300 ease-out focus:shadow-lg ;
  }
  .btn {
    @apply px-4 py-2 text-sm md:text-base  rounded-lg transition-all duration-300;
  }
  .btn--primary {
    @apply text-primary-900 border border-primary-900 hover:bg-primary-900 hover:text-white shadow-lg ;
  }
  .btn--secondary {
    @apply text-white bg-primary-900 hover:text-primary-900 hover:bg-white hover:border hover:border-primary-900 ;
  }
  .btn--outline {
    @apply border-2 border-primary-900 border-dashed text-primary-900;
  }
  .btn--transparent{
    @apply border border-white text-white bg-transparent ;
  }
  .badge {
    @apply inline-block whitespace-nowrap rounded-md px-2 py-0.5;
  }
  .badge--primary {
    @apply bg-primary-900 text-white;
  }
  .badge--secondary {
    @apply bg-neutral-200 text-black;
  }
  .badge--success {
    @apply bg-green-500 text-white;
  }
  .badge--danger {
    @apply bg-red-500 text-white;
  }
}

/* #root {
  max-width: 1280px;
} */
html,
body {
  font-family: "Vazir";
  padding: 0;
  /* margin: 0; */
  min-height: 100vh;
  user-select: none;
  /* background-color: rgb(243, 233, 233); */
  /* max-width: 1024px; */
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* border: none; */
  outline: none;
  padding: 0;
  margin: 0;
}

/* inupt number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

/* TABLE */

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table .title-row {
  /* background-color: rgb(var(--color-secondary-100)); */
}

table td,
table th {
  /* border-bottom: 1px solid rgb(var(--color-secondary-200)); */
  text-align: right;
  white-space: nowrap;
}

table th {
  padding: 0.6rem 1rem;
  /* color: rgb(var(--color-secondary-600)); */
  font-size: 0.9rem;
}

table td {
  font-size: 0.85rem;
  padding: 1rem 1rem;
  /* color: rgb(var(--color-secondary-600)); */
}

.rti--container {
  /* background-color: rgb(var(--color-secondary-100)); */
  --rti-radius: 0.375rem;
  --rti-s: 0.5rem;
  --rti-tag: #edf2f7;
  --rti-tag-remove: #e53e3e;
  border: none;
}
.rti--container .rti--input {
  /* background-color: rgb(var(--color-secondary-200)); */
  /* color: rgb(var(--color-secondary-800)); */
  padding: 0.3rem 1rem;
  border-radius: 0.5rem;
}

.rti--tag {
  /* background-color: rgb(var(--color-secondary-500)); */
  /* color: rgb(var(--color-secondary-800)); */
}

